body {
	font-family: "Rokkitt", "Helvetica", "Arial", sans-serif;
	margin: 0;
}

h1 {
	font-size: 40px;
	font-family: "Oswald", "Helvetica", "Arial", sans-serif;
	margin: 0;
	color: #dad034;
	float: left;
	padding: 20px 20px 0;
}

h2 {
	font-size: 32px;
	font-family: "Oswald", "Helvetica", "Arial", sans-serif;
	margin: 0;
	color: #fffccc;
	float: right;
	padding: 20px 20px 0;
}

.title-artist-header {
	position: relative;
}

.album-header {
	background: brown;
	text-align: left;
	padding: 20px;
}

h3 {
	font-size: 24px;
	font-family: "Oswald", "Helvetica", "Arial", sans-serif;
	padding: 0;
	margin: 0;
}

header {
	text-align: center;
	margin-bottom: 40px;
	background: black;
	color: white;
}

audio {
	display: block;
	margin: 0 auto 100px;
	width: 75%;
}

p {
	margin: 40px;
	font-size: 18px;
	padding: 20px;
	background: white;
	color: black;
	background: #fffccc;
}

img {
	margin-bottom: 20px;
	display: block;
	margin: 0 auto;
	max-height: 600px;
}

.by {
	position: absolute;
	right: 20px;
	top: 20px;
}

/* Clearing Floats */

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */